 h1 {
   color: rgb(226, 212, 212);
   background-color: #41664b;
   font-size: 320%;
   padding: 2.7%
 }

 h3 {
   font-size: 150%;
 }

 body,
 html {
   height: 100%;
   font-size: 1em;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   background-image: linear-gradient(to bottom, transparent 0%, #2b0d28 50%), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRjaaozlKw6SVa95Dsgh91V183TRGWou0wcw&s");
   background-size: cover;
   background-repeat: no-repeat;
 }

 h1 {
   border-radius: 5px;
   color: #ffffff;
   font-size: 2.5em;
   width: 80%;
 }



 h2 {
   color: #fffefe;
 }



 h3 {

   border-radius: 5px;
   color: #ffffff;
   background: #41664b;
   padding: 0.7%;
   width: 30%;

 }


 button {

   border-radius: 10px;
   background: none;
   border: 2px solid #557e63af;
   transition-duration: 0.4s;
   cursor: pointer;
   padding: 2% 2%;
   font-size: 20px;
   font-weight: bold;
   height: 4%;
 }

 button:hover {
   background-color: #41664b;
   color: white;
 }

 button:active {
   transform: translateY(12px);
 }

 .font_white {
   color: #ffffff;
 }

 input {
   opacity: 100%;
   height: 30px;

 }

 .resultado {
  border-radius: 5px;
  width: 50%;
  background-color: #41664b;
  border: 20px  #123d21af;
  color: #ffffff;
 }

 .font-number {
  color: #ffffff;
 }